

*   Importing pandas for data analysis
*   Importing seaborn to use the predefined Datasets

In [38]:
import pandas as pd
import seaborn as sns

# Getting the Predefined Dataset Names

In [39]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

# Loading the predefined titanic dataset

In [40]:
data=sns.load_dataset('titanic')

In [41]:
data.head() # to get first five rows

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [42]:
data.tail() # to get the last five rows

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

# Data Manipulation Phase

In [43]:
data.rename(columns={'sex':'Gender'},inplace=True) # Rename method to rename the columns

In [44]:
data.shape # finding the shape of the dataset

(891, 15)

In [45]:
data.describe() # it will display Statistical Analysis of the dataset

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [46]:
data.describe().T # it will display Statistical Analysis of the dataset to get easy understanding visuals above and below are same

          count       mean        std   min      25%      50%   75%       max
survived  891.0   0.383838   0.486592  0.00   0.0000   0.0000   1.0    1.0000
pclass    891.0   2.308642   0.836071  1.00   2.0000   3.0000   3.0    3.0000
age       714.0  29.699118  14.526497  0.42  20.1250  28.0000  38.0   80.0000
sibsp     891.0   0.523008   1.102743  0.00   0.0000   0.0000   1.0    8.0000
parch     891.0   0.381594   0.806057  0.00   0.0000   0.0000   0.0    6.0000
fare      891.0  32.204208  49.693429  0.00   7.9104  14.4542  31.0  512.3292

In [47]:
data.info()
'''
 To get the complete information of the dataset it will show the datatypes , RangeIndex , Memory Usage,total columns.
 example : [datatype of each columns
            ie: int64 (survived) means all values in this column are integers,
                object (sex) means all valuse in this column are Strings
 '''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   Gender       891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

' \n To get the complete information of the dataset it will show the datatypes , RangeIndex , Memory Usage,total columns.\n example : [datatype of each columns\n            ie: int64 (survived) means all values in this column are integers,\n                object (sex) means all valuse in this column are Strings         \n '

In [48]:
data.head()

,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [49]:
data['fare_times_siblings']=data['sibsp']*data['fare'] # creating a new column named as fare_times_siblings (Note : sisb means sibling in this titanic dataset , fare means cost)

In [50]:
data.head()

,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_times_siblings
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,7.2500
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,71.2833
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0.0000
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,53.1000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0.0000

In [51]:
data.drop('fare_times_siblings',inplace=True,axis=1) # deleting the created column

In [52]:
data

,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [53]:
data.set_index('alone',inplace=True)  # set index help us to retrive data easily

In [54]:
#  Select all rows where passengers were not alone
not_alone_data = data.loc[False]

In [55]:
not_alone_data # we can find not alone data easily  by setting index by loc function

,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive
alone,,,,,,,,,,,,,,
False,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no
False,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes
False,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes
False,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no
False,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
False,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes
False,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes
False,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes
False,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no
False,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no

In [56]:
data.reset_index(inplace=True) # reset_index helps us to get back the normal data

In [57]:
data # index alone is gone

,alone,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive
0,False,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no
1,False,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes
4,True,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,True,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no
887,True,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes
888,False,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no
889,True,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes
890,True,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no

In [58]:
data['embark_town'][:] # to get all the values in the specific column [:]

0      Southampton
1        Cherbourg
2      Southampton
3      Southampton
4      Southampton
          ...
886    Southampton
887    Southampton
888    Southampton
889      Cherbourg
890     Queenstown
Name: embark_town, Length: 891, dtype: object

In [59]:
data.loc[90:,['alone','survived','pclass']] # starting row values from 90 to all 801 rows based on the index number and specifying the column names

     alone  survived  pclass
90    True         0       3
91    True         0       3
92   False         0       1
93   False         0       3
94    True         0       3
..     ...       ...     ...
886   True         0       2
887   True         1       1
888  False         0       3
889   True         1       1
890   True         0       3

[801 rows x 3 columns]

In [60]:
data.iloc[88::,4:8]
''' starting row values from 88 to all 801 rows based on the index number,
 without specifying the column names instead of mentioning the index range for columns using iloc function '''

' starting row values from 88 to all 801 rows based on the index number,\n without specifying the column names instead of mentioning the index range for columns using iloc function '

In [61]:
data.drop(890,axis=0,inplace=True) # dropping the specific rows

In [62]:
data.shape

(890, 15)

# Data Analysis Phase

In [63]:
data[(data['Gender']=='male') & (data['age']>36)]

,alone,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive
6,True,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no
13,False,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no
30,True,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no
33,True,0,2,male,66.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no
35,False,0,1,male,42.0,1,0,52.0000,S,First,man,True,NaN,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,True,0,3,male,42.0,0,0,7.5500,S,Third,man,True,NaN,Southampton,no
851,True,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no
857,True,1,1,male,51.0,0,0,26.5500,S,First,man,True,E,Southampton,yes
860,False,0,3,male,41.0,2,0,14.1083,S,Third,man,True,NaN,Southampton,no
873,True,0,3,male,47.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no

In [64]:
data[((data['Gender']=='male')|(data['Gender']=='female'))& (data['alive']=='yes')]

,alone,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive
1,False,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes
8,False,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes
9,False,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,True,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes
879,False,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes
880,False,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes
887,True,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes
889,True,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes

In [65]:
data[(data['Gender']).isin(['male','female'])]

,alone,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive
0,False,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no
1,False,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes
4,True,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,False,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no
886,True,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no
887,True,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes
888,False,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no
889,True,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes

# Creating Functions and Making manipulations

In [66]:
def fun(x):
  return x.title()

In [67]:
fun('make')

'Make'

In [68]:
data['Gender']=data['Gender'].apply(fun)

In [69]:
data

,alone,survived,pclass,Gender,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive
0,False,0,3,Male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no
1,False,1,1,Female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,Female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,Female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes
4,True,0,3,Male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,False,0,3,Female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no
886,True,0,2,Male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no
887,True,1,1,Female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes
888,False,0,3,Female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no
889,True,1,1,Male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes

In [70]:
data['Gender']==data['Gender'].apply(fun)

0      True
1      True
2      True
3      True
4      True
       ...
885    True
886    True
887    True
888    True
889    True
Name: Gender, Length: 890, dtype: bool

In [71]:
data.columns=data.columns.map(fun)

In [72]:
data

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
0,False,0,3,Male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no
1,False,1,1,Female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,Female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,Female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes
4,True,0,3,Male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,False,0,3,Female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no
886,True,0,2,Male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no
887,True,1,1,Female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes
888,False,0,3,Female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no
889,True,1,1,Male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes

# Creating own anonymous Functions using Lambda

In [73]:
data['Fare']=data['Fare'].apply(lambda x: int(x)) # Created a Lambda Function to change the Data type

In [74]:
data

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
0,False,0,3,Male,22.0,1,0,7,S,Third,man,True,NaN,Southampton,no
1,False,1,1,Female,38.0,1,0,71,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,Female,26.0,0,0,7,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,Female,35.0,1,0,53,S,First,woman,False,C,Southampton,yes
4,True,0,3,Male,35.0,0,0,8,S,Third,man,True,NaN,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,False,0,3,Female,39.0,0,5,29,Q,Third,woman,False,NaN,Queenstown,no
886,True,0,2,Male,27.0,0,0,13,S,Second,man,True,NaN,Southampton,no
887,True,1,1,Female,19.0,0,0,30,S,First,woman,False,B,Southampton,yes
888,False,0,3,Female,NaN,1,2,23,S,Third,woman,False,NaN,Southampton,no
889,True,1,1,Male,26.0,0,0,30,C,First,man,True,C,Cherbourg,yes

Before Applying Lambda function

![image.png]()

# After Applying Lambda Function

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Alone        890 non-null    bool
 1   Survived     890 non-null    int64
 2   Pclass       890 non-null    int64
 3   Gender       890 non-null    object
 4   Age          713 non-null    float64
 5   Sibsp        890 non-null    int64
 6   Parch        890 non-null    int64
 7   Fare         890 non-null    int64
 8   Embarked     888 non-null    object
 9   Class        890 non-null    category
 10  Who          890 non-null    object
 11  Adult_Male   890 non-null    bool
 12  Deck         203 non-null    category
 13  Embark_Town  888 non-null    object
 14  Alive        890 non-null    object
dtypes: bool(2), category(2), float64(1), int64(5), object(5)
memory usage: 80.6+ KB

In [ ]:
data.head()

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
0,False,0,3,Male,22.0,1,0,7,S,Third,man,True,NaN,Southampton,no
1,False,1,1,Female,38.0,1,0,71,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,Female,26.0,0,0,7,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,Female,35.0,1,0,53,S,First,woman,False,C,Southampton,yes
4,True,0,3,Male,35.0,0,0,8,S,Third,man,True,NaN,Southampton,no

# Sorting

In [ ]:
data.sort_values(by='Fare')

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
413,True,0,2,Male,NaN,0,0,0,S,Second,man,True,NaN,Southampton,no
481,True,0,2,Male,NaN,0,0,0,S,Second,man,True,NaN,Southampton,no
815,True,0,1,Male,NaN,0,0,0,S,First,man,True,B,Southampton,no
302,True,0,3,Male,19.0,0,0,0,S,Third,man,True,NaN,Southampton,no
271,True,1,3,Male,25.0,0,0,0,S,Third,man,True,NaN,Southampton,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,False,0,1,Male,64.0,1,4,263,S,First,man,True,C,Southampton,no
88,False,1,1,Female,23.0,3,2,263,S,First,woman,False,C,Southampton,yes
258,True,1,1,Female,35.0,0,0,512,C,First,woman,False,NaN,Cherbourg,yes
737,True,1,1,Male,35.0,0,0,512,C,First,man,True,B,Cherbourg,yes
679,False,1,1,Male,36.0,0,1,512,C,First,man,True,B,Cherbourg,yes

In [ ]:
data.sort_values(by='Fare',ascending=False)

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
679,False,1,1,Male,36.0,0,1,512,C,First,man,True,B,Cherbourg,yes
258,True,1,1,Female,35.0,0,0,512,C,First,woman,False,NaN,Cherbourg,yes
737,True,1,1,Male,35.0,0,0,512,C,First,man,True,B,Cherbourg,yes
88,False,1,1,Female,23.0,3,2,263,S,First,woman,False,C,Southampton,yes
438,False,0,1,Male,64.0,1,4,263,S,First,man,True,C,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,True,0,3,Male,19.0,0,0,0,S,Third,man,True,NaN,Southampton,no
481,True,0,2,Male,NaN,0,0,0,S,Second,man,True,NaN,Southampton,no
674,True,0,2,Male,NaN,0,0,0,S,Second,man,True,NaN,Southampton,no
806,True,0,1,Male,39.0,0,0,0,S,First,man,True,A,Southampton,no
822,True,0,1,Male,38.0,0,0,0,S,First,man,True,NaN,Southampton,no

# Statistical Analysis

In [ ]:
data['Fare'].max()

512

In [ ]:
data['Fare'].idxmax()

258

In [ ]:
data['Fare'].min()

0

In [ ]:
data['Fare'].idxmin()

179

In [ ]:
data.value_counts(['Gender','Alive'])

Gender  Alive
Male    no       467
Female  yes      233
Male    yes      109
Female  no        81
dtype: int64

In [ ]:
data[['Gender','Alive']].value_counts(sort=False)

Gender  Alive
Female  no        81
        yes      233
Male    no       467
        yes      109
dtype: int64

In [ ]:
data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
data.nunique()

Alone           2
Survived        2
Pclass          3
Gender          2
Age            88
Sibsp           7
Parch           7
Fare           91
Embarked        3
Class           3
Who             3
Adult_Male      2
Deck            7
Embark_Town     3
Alive           2
dtype: int64

In [ ]:
data['Gender'].replace(['Male','Female'],['M','F'],inplace=True)

In [ ]:
data.head()

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
0,False,0,3,M,22.0,1,0,7,S,Third,man,True,NaN,Southampton,no
1,False,1,1,F,38.0,1,0,71,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,F,26.0,0,0,7,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,F,35.0,1,0,53,S,First,woman,False,C,Southampton,yes
4,True,0,3,M,35.0,0,0,8,S,Third,man,True,NaN,Southampton,no

In [ ]:
data['Gender'].replace(['M','F'],['Male','Female'],inplace=True)

In [ ]:
data.head()

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
0,False,0,3,Male,22.0,1,0,7,S,Third,man,True,NaN,Southampton,no
1,False,1,1,Female,38.0,1,0,71,C,First,woman,False,C,Cherbourg,yes
2,True,1,3,Female,26.0,0,0,7,S,Third,woman,False,NaN,Southampton,yes
3,False,1,1,Female,35.0,1,0,53,S,First,woman,False,C,Southampton,yes
4,True,0,3,Male,35.0,0,0,8,S,Third,man,True,NaN,Southampton,no

In [ ]:
data.sample(10) # sample method is used to get the random values in a dataset

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
213,True,0,2,Male,30.0,0,0,13,S,Second,man,True,NaN,Southampton,no
553,True,1,3,Male,22.0,0,0,7,C,Third,man,True,NaN,Cherbourg,yes
319,False,1,1,Female,40.0,1,1,134,C,First,woman,False,E,Cherbourg,yes
502,True,0,3,Female,NaN,0,0,7,Q,Third,woman,False,NaN,Queenstown,no
527,True,0,1,Male,NaN,0,0,221,S,First,man,True,C,Southampton,no
194,True,1,1,Female,44.0,0,0,27,C,First,woman,False,B,Cherbourg,yes
434,False,0,1,Male,50.0,1,0,55,S,First,man,True,E,Southampton,no
848,False,0,2,Male,28.0,0,1,33,S,Second,man,True,NaN,Southampton,no
495,True,0,3,Male,NaN,0,0,14,C,Third,man,True,NaN,Cherbourg,no
596,True,1,2,Female,NaN,0,0,33,S,Second,woman,False,NaN,Southampton,yes

In [ ]:
data.Who.unique()

array(['man', 'woman', 'child'], dtype=object)

In [ ]:
data['Who'] = data['Who'].map({'man': "M", 'women': "F", 'child': "C"})

In [ ]:
data.head()

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
0,False,0,3,Male,22.0,1,0,7,S,Third,M,True,NaN,Southampton,no
1,False,1,1,Female,38.0,1,0,71,C,First,NaN,False,C,Cherbourg,yes
2,True,1,3,Female,26.0,0,0,7,S,Third,NaN,False,NaN,Southampton,yes
3,False,1,1,Female,35.0,1,0,53,S,First,NaN,False,C,Southampton,yes
4,True,0,3,Male,35.0,0,0,8,S,Third,M,True,NaN,Southampton,no

# Duplication Removal

In [ ]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
885    False
886     True
887    False
888    False
889    False
Length: 890, dtype: bool

In [ ]:
data.drop_duplicates()

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
0,False,0,3,Male,22.0,1,0,7,S,Third,M,True,NaN,Southampton,no
1,False,1,1,Female,38.0,1,0,71,C,First,NaN,False,C,Cherbourg,yes
2,True,1,3,Female,26.0,0,0,7,S,Third,NaN,False,NaN,Southampton,yes
3,False,1,1,Female,35.0,1,0,53,S,First,NaN,False,C,Southampton,yes
4,True,0,3,Male,35.0,0,0,8,S,Third,M,True,NaN,Southampton,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,True,0,2,Male,28.0,0,0,10,S,Second,M,True,NaN,Southampton,no
885,False,0,3,Female,39.0,0,5,29,Q,Third,NaN,False,NaN,Queenstown,no
887,True,1,1,Female,19.0,0,0,30,S,First,NaN,False,B,Southampton,yes
888,False,0,3,Female,NaN,1,2,23,S,Third,NaN,False,NaN,Southampton,no
889,True,1,1,Male,26.0,0,0,30,C,First,M,True,C,Cherbourg,yes

# Top 10 Values

In [ ]:
data.nlargest(10,'Fare')

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
258,True,1,1,Female,35.0,0,0,512,C,First,NaN,False,NaN,Cherbourg,yes
679,False,1,1,Male,36.0,0,1,512,C,First,M,True,B,Cherbourg,yes
737,True,1,1,Male,35.0,0,0,512,C,First,M,True,B,Cherbourg,yes
27,False,0,1,Male,19.0,3,2,263,S,First,M,True,C,Southampton,no
88,False,1,1,Female,23.0,3,2,263,S,First,NaN,False,C,Southampton,yes
341,False,1,1,Female,24.0,3,2,263,S,First,NaN,False,C,Southampton,yes
438,False,0,1,Male,64.0,1,4,263,S,First,M,True,C,Southampton,no
311,False,1,1,Female,18.0,2,2,262,C,First,NaN,False,B,Cherbourg,yes
742,False,1,1,Female,21.0,2,2,262,C,First,NaN,False,B,Cherbourg,yes
118,False,0,1,Male,24.0,0,1,247,C,First,M,True,B,Cherbourg,no

# Least 10 Values

In [ ]:
data.nsmallest(10,'Fare')

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
179,True,0,3,Male,36.0,0,0,0,S,Third,M,True,NaN,Southampton,no
263,True,0,1,Male,40.0,0,0,0,S,First,M,True,B,Southampton,no
271,True,1,3,Male,25.0,0,0,0,S,Third,M,True,NaN,Southampton,yes
277,True,0,2,Male,NaN,0,0,0,S,Second,M,True,NaN,Southampton,no
302,True,0,3,Male,19.0,0,0,0,S,Third,M,True,NaN,Southampton,no
413,True,0,2,Male,NaN,0,0,0,S,Second,M,True,NaN,Southampton,no
466,True,0,2,Male,NaN,0,0,0,S,Second,M,True,NaN,Southampton,no
481,True,0,2,Male,NaN,0,0,0,S,Second,M,True,NaN,Southampton,no
597,True,0,3,Male,49.0,0,0,0,S,Third,M,True,NaN,Southampton,no
633,True,0,1,Male,NaN,0,0,0,S,First,M,True,NaN,Southampton,no

In [ ]:
data.sample(frac=0.01) # sample for 1% data

,Alone,Survived,Pclass,Gender,Age,Sibsp,Parch,Fare,Embarked,Class,Who,Adult_Male,Deck,Embark_Town,Alive
520,True,1,1,Female,30.00,0,0,93,S,First,NaN,False,B,Southampton,yes
668,True,0,3,Male,43.00,0,0,8,S,Third,M,True,NaN,Southampton,no
819,False,0,3,Male,10.00,3,2,27,S,Third,C,False,NaN,Southampton,no
755,False,1,2,Male,0.67,1,1,14,S,Second,C,False,NaN,Southampton,yes
242,True,0,2,Male,29.00,0,0,10,S,Second,M,True,NaN,Southampton,no
134,True,0,2,Male,25.00,0,0,13,S,Second,M,True,NaN,Southampton,no
384,True,0,3,Male,NaN,0,0,7,S,Third,M,True,NaN,Southampton,no
768,False,0,3,Male,NaN,1,0,24,Q,Third,M,True,NaN,Queenstown,no
885,False,0,3,Female,39.00,0,5,29,Q,Third,NaN,False,NaN,Queenstown,no

# Data Handling for Missing Values

In [ ]:
data.isnull().sum()

Alone            0
Survived         0
Pclass           0
Gender           0
Age            177
Sibsp            0
Parch            0
Fare             0
Embarked         2
Class            0
Who            271
Adult_Male       0
Deck           687
Embark_Town      2
Alive            0
dtype: int64

In [ ]:
(data.isnull().sum() * 100 / len(data)).round(2)

Alone           0.00
Survived        0.00
Pclass          0.00
Gender          0.00
Age            19.89
Sibsp           0.00
Parch           0.00
Fare            0.00
Embarked        0.22
Class           0.00
Who            30.45
Adult_Male      0.00
Deck           77.19
Embark_Town     0.22
Alive           0.00
dtype: float64

In [ ]:
(data.notnull().sum() * 100 / len(data)).round(2)

Alone          100.00
Survived       100.00
Pclass         100.00
Gender         100.00
Age             80.11
Sibsp          100.00
Parch          100.00
Fare           100.00
Embarked        99.78
Class          100.00
Who             69.55
Adult_Male     100.00
Deck            22.81
Embark_Town     99.78
Alive          100.00
dtype: float64

In [ ]:
mean_age=data['Age'].mean()

In [ ]:
mean_age

29.69589060308555

In [ ]:
data['Age'].fillna(mean_age).isnull().sum()

0

In [ ]:
data['Age'].mode()

0    24.0
Name: Age, dtype: float64

In [ ]:
data['Age'].fillna(24,inplace=True)

In [ ]:
data['Age'].isnull().sum()

0

# End